@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 139, 69, 19;
  --background-rgb: 250, 241, 227;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
